---
title: Sponsorship
---

<svelte:head>
  <title>Sponsorship</title>
</svelte:head>

<script lang="ts">
  import Heading from '$components/Heading.svelte';
  import Link from '$components/Link.svelte';
  import GiantButton from '$components/GiantButton.svelte';
</script>

<Heading>Information for Sponsors</Heading>

![SPONSOR-EXHIBITION]($images/sponsor-exhibition.jpg)

<GiantButton href="https://drive.google.com/file/d/13Hgj8OvLAiZRvmLjh31TmUyO5sG7trJg/view">Access the Sponsorship Prospectus</GiantButton>

FOSS4G is a global event that brings together the open geospatial community. FOSS4G stands for 'Free and Open Source Software for Geospatial' and the name has been used since 2006 for international and regional conferences of the [Open Source Geospatial Foundation (OSGeo)](http://osgeo.org/) and its chapters. OSGeo supports the development and adoption of open source geospatial technology. FOSS4G is part of the broader [open source software philosophy](https://opensource.com/resources/what-open-source).

In 2027, the global FOSS4G conference is being held in Bristol. Please contact our dedicated sponsor support team sponsors.2027@foss4g.org if you'd like to support this event.

![SS_Great_Britain]($images/ss-great-britain.jpg)

## Attendee Profile

Previous FOSS4G conferences in Auckland, Belem, Prizren, Florence, Buenos Aires, Bucharest, Dar Es Salaam and many other cities all over the world were a fantastic success, with Florence taking the record of having over 1,200 attendees. We aim to achieve the same success in Bristol.

Sponsors of FOSS4G gain access to a diverse group of people shaping the evolution of open source geospatial software. The conference is a healthy mix of both software developers, end users, decision makers and scientists.

## What happens at FOSS4G?

The conference is formally a five day event, with two days of hands-on workshop followed by three days of conference. The weekend after the conference is an extra two day code sprint or community collaboration opportunity.

The workshop days are an opportunity for professionals with deep subject matter experience and technical expertise to share their knowledge with others in a hands-on environment. Those attending the workshop day are able to interactively learn high-demand technical skills with expert practitioners.

The main conference runs as a mix of plenary and stream sessions, including academic talks, keynotes and panel sessions.

![FOSS4G-UK-25]($images/foss4g-uk-group.jpg)

## Why you should sponsor FOSS4G

### Exposure to a growing community

The open geospatial community has been growing from year to year. More and more organisations are incorporating desktop GIS applications such as QGIS and GRASS or geospatial libraries such as GDAL and Proj into their geospatial toolset. Sponsorship gives you prominent exposure to each of these players and allows you to show where your organisation fits into the community.

### Support the development of open source geospatial software

The FOSS4G Conference is administered by a non-profit organisation, so any surplus generated from the conference is reinvested back into the community. This can include the support of smaller regional events and new initiatives that increase participation and the quality of contributions in the community.

### Support an inclusive conference

Sponsorship has allowed us to lower the ticket prices for students and community members financing their attendance with personal funds. This is incredibly important for the sustainability of open source geospatial and the diversity of ideas at the conference. A portion of sponsorship goes towards our travel grant program, helping us to bring people to the event who wouldn't normally be able to come.

## Who runs FOSS4G?

The success of our regional FOSS4G event in Leeds 2025 illustrated the need for a longer-term governance structure for the UK's geospatial community. [OSGeo:UK](https://uk.osgeo.org/) was formed as a  not-for-profit entity to support the long-term sustainability of our community in the region and is recognised as a local chapter of the OSGeo foundation.

A dedicated and experienced conference committee has been established to focus on the delivery of a successful FOSS4G 2027 in Bristol.

## Sponsorship packages

|           Benefits            |   Diamond   |  Platinum   |    Gold     |   Silver    |   Bronze    |
| :----------------------------: | :---------: | :---------: | :---------: | :---------: | :---------: |
|          Contribution          |   £25,000   |   £15,000   |   £10,000   |   £5,000    |   £3,000    |
|       Plenary presentation     |      ✓      |     \-      |     \-      |     \-      |     \-      |
|         Sponsored track        |      ✓      |      ✓      |     \-      |     \-      |     \-      |
|         Logo on T-shirt        |      ✓      |      ✓      |     \-      |     \-      |     \-      |
|      Slide on rotating deck    |      ✓      |      ✓      |      ✓      |     \-      |     \-      |
|         Logo on website        |      ✓      |      ✓      |      ✓      |      ✓      |      ✓      |
|  Conference passes (incl. B2B) |      6      |      4      |      3      |      2      |      1      |
|         Exhibition space       |     XL      |      L      |      M      |      S      |     \-      |
|        Gala dinner tickets     |      6      |      4      |      3      |      2      |      1      |

If you have any questions or suggestions, email us at [sponsors.2027@foss4g.org](mailto:sponsorship@foss4g.org).
